{% extends 'base.html'%}

    {% block content %}
    <div class="sign-in-form" style="width:450px; border-radius: 25px" >
      <form id="newComment"  action="/newcomment/" method="POST">
          {% csrf_token %}
        <h3>Add new comment to ticket:</h3>
        <p>{{ticketTitle}}</p>

        <input id = "ticket" type = "hidden" name = "ticketNum">
        <script>
          let ticketNum = new URLSearchParams(window.location.search).get('ticketNum');
          document.getElementById("ticket").value = ticketNum;
        </script>

        <br>
        <textarea rows = "5" cols = "48" name = "message" placeholder="Please comment here..."></textarea>
        <br><br>
        <input type="submit" id="submit" value="Submit" style="border-radius: 25px">
      </form>
        {{error}}

    </div>
    {% endblock %}