<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
    <title>IT Help Desk Ticketing System</title>
  </head>
  <body>
    <div>
      <div  class="page-header">
		<img src="{% static 'css/icon.png' %}" alt="CMSC-495" style="border-radius: 25px">
			<h1>IT Help Desk Ticketing System<h1>
			<div><a href="/home"><u>Home</u></a>
        {% if user.is_authenticated %}
        <a href="/logout"><u>Log out</a></u></div>
        {% endif %}
      </div>
	  </div>

      <div id="content", class="content">
        {% block content %}
        {% endblock %}
      </div>
      
      <footer class="page-footer">
        CMSC495 Group Project - Spring 2022
        <h3><a href="https://github.com/k-hsu/it-help-app" target="_blank">GitHub Repository</h3>
      </footer>
    </div>
  </body>
  {% block scripts %}
  {% endblock %}
</html>