{% extends 'base.html'%}

    {% block content %}
    <div class="sign-in-form" style="width:450px;">
      <form id="open"  action="/open/" method="POST">
          {% csrf_token %}
        <h3>Would you like to re-open ticket:</h3>
        <p>{{ticketTitle}}</p>

        <input id = "ticket" type = "hidden" name = "ticketNum">
        <script>
          let ticketNum = new URLSearchParams(window.location.search).get('ticketNum');
          document.getElementById("ticket").value = ticketNum;
        </script>

        <br><br>
        <input type="submit" id="submit" value="Yes" name = "submit">
        <input type="submit" id="submit" value="No" name = "submit">       

      </form>
        {{error}}

    </div>
    {% endblock %}